.barChart {
}

.bar {
  fill: #6F257F;
}

.label {
  fill: white !important;
  color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

