.barChart {
  margin: 20;  
}

.bar {
  fill: #2979FF;
}
.bar:hover{
  fill: #FF9100;
}

.label {
  fill: white !important;
  color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.y axis {
  font-size: 12;
}

